doctype html

html

  head
    title Biblioteca API


  body

    h1 Biblioteca API


    h2 Sistema funcionando!


    h3 Livros cadastrados:


    ul

      each livro in livros

        li
          | #{livro.titulo}



    h3 Usuários cadastrados:


    ul

      each usuario in usuarios

        li
          | #{usuario.email}